# ignore the folder "osu!"
osu!/

# ignore all __pycache__ folders
__pycache__/

# ignore .venv
.venv/

# ignore .zip files
*.zip

# ignore log files
play_training.txt
play_evaluation.txt
evaluations.txt